<div class="page-title">
  <h4>
    <a routerLink="/categories">Категорії</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавити' : 'редагувати'}} категорію
  </h4>
  <span>
    <button
      *ngIf="!isNew"
      class="btn btn-small red"
      (click)="deleteCategory()"
    >
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">Назва</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('name').invalid && form.get('name').touched"
      >
        <span *ngIf="form.get('name').errors['required']">
            Ім'я категорії не може бути пустим
        </span>
      </span>
    </div>

    <div>
      <input
        type="file"
        class="dn"
        (change)="onFileUpload($event)"
        #input
      >
      <button
        (click)="triggerClick()"
        [disabled]="form.disabled"
        class="waves-effect waves-light btn orange lighten-2 mb2"
        type="button"
      >
        <i class="material-icons left">backup</i>
        Загрузити картинку
      </button>

      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn">
        Зберегти зміни
      </button>
    </div>

  </form>

  <div class="col s12 l4 center">
    <img
      class="responsive-img h200"
      [src]="imagePreview"
      *ngIf="imagePreview"
    >
  </div>
</div>

<app-positions-form
  *ngIf="category?._id"
  [categoryId]="category._id"
></app-positions-form>
