<div class="page-title">
  <h4>Категорії</h4>
  <button class="waves-effect waves-light btn grey darken-1"
          routerLink="/categories/new"
  >
    Добавити категорію
  </button>
</div>

<div
  class="row"
  *ngIf="categories$ | async as categories; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="categories.length !== 0; else empty">
      <a
        [routerLink]="['/categories', category._id]"
        class="collection-item"
        *ngFor="let category of categories"
      >
        {{category.name}}
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
        У вас немає жодної категорії.
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

