<div class="page-title">
  <h4 *ngIf="isRoot">Заказ</h4>
  <h4 *ngIf="!isRoot">
    <a routerLink="/order">Заказ</a>
    <i class="material-icons">keyboard_arrow_right</i>
    Додати до продукції
  </h4>
  <button
    class="waves-effect btn grey darken-1"
    (click)="open()"
    [disabled]="order.list.length === 0"
  >
    Завершити
  </button>
</div>

<router-outlet></router-outlet>


<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Ваше замовлення</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Назва</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of order.list">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.cost}}</td>
        <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>Загальна вартість <strong>{{order.price}} грн.</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"
      (click)="cancel()"
      [disabled]="pending"
    >
      Скасувати
    </button>
    <button
      class="modal-action btn waves-effect"
      (click)="submit()"
      [disabled]="order.list.length === 0 || pending"
    >
      Підтвердити
    </button>
  </div>
</div>
