<div class="page-title">
  <h4>Історія замовлень</h4>
  <button
    class="btn btn-small"
    [ngClass]="{
    'active': isFilterVisible,
    'red': isFiltered()
    }"
    data-tooltip="Відкрити фільтир"
    data-position="left"
    #tooltip
    (click)="isFilterVisible = !isFilterVisible"
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter
  *ngIf="isFilterVisible"
(onFilter)="applyFilter($event)"
></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
  <div *ngIf="orders.length > 0; else empty">
  <app-history-list [orders]="orders"></app-history-list>

  <div
    class="center mb2"
  *ngIf="!noMoreOrders"
  >
    <button
      *ngIf="!loading; else loader"
      class="btn waves-effect grey darken-1 btn-small"
      (click)="loadMore()"
    >
      Завантажити ще...
    </button>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
  </div>
  <ng-template #empty>
    <div class="center">Заказів поки немає.</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>



