<nav>
  <div class="nav-wrapper grey darken-1">
    <a routerLink="/" class="brand-logo">ZOO Магазин</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/login">Вхід</a>
      </li>
      <li>
        <a routerLink="/register">Реєстрація</a>
      </li>
    </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
