<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="card"
>
  <div class="card-content">
    <span class="card-title">Вхід в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        autocomplete="on"
        [ngClass]="{'invalid':form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>

      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">Email не повиний бути пустим</span>
        <span *ngIf="form.get('email').errors['email']">Введіть коректний email адрес</span>
      </span>

    </div>
    <div class="input-field">
      <input
        formControlName="password"
        id="password"
        type="password"
        autocomplete="on"
        [ngClass]="{'invalid':form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password').errors['required']">Пароль не повинен бути пустим.</span>
        <span *ngIf="form.get('password').errors['minlength']
         && form.get('password').errors['minlength']['requiredLength']">
          Пароль має бути більше {{form.get('password').errors['minlength']['requiredLength']}} символів.
          Зараз введено {{form.get('password').errors['minlength']['actualLength']}}
        </span>

      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Увійти
    </button>
  </div>
</form>
